{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <div class="my-2">
      <form method="post" enctype="multipart/form-data" class="d-flex">
        {% csrf_token %}
        <div class="mr-2">{{ context.form.file }}</div>
        <button type="submit" class="btn btn-primary">Upload</button>
      </form>
    </div>

    <ul class="list-group">
      <div class="container my-2">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">name</th>
              <th scope="col">creation time</th>
              <th scope="col">modification time</th>
              <th scope="col">sheet names</th>
              <th scope="col">processing date</th>
            </tr>
          </thead>
          <tbody>
            {% for file in context.files %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ file }}</td>
                <td>{{ file.creation_time|date:"d/m/Y" }}</td>
                <td>{{ file.modification_time|date:"d/m/Y" }}</td>
                <td>{{ file.sheet_names }}</td>
                <td>{{ processing_date|date:"d/m/Y" }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </ul>
  </div>
{% endblock %}
